<h1>Edit System Preferences</h1>
<%= form_for :preference, {url: "/admin/preferences/1/edit"} do |f| %>
  <%= f.label :artist_sort_order %>
  <%= f.radio_button :preference, :artist_sort_order, {value: => "ASC"} %>
  <%= f.radio_button :preference, :artist_sort_order, {value: => "DESC"} %>
  <br>
  <%= f.label :song_sort_order %>
  <%= f.radio_button :preference, :song_sort_order, value: => "ASC" %>
  <%= f.radio_button :preference, :song_sort_order, value: => "DESC" %>
  <br>
  <%= f.label :allow_create_artists %>
  <%= f.radio_button :preference, :allow_create_artists, value: => "true" %>
  <%= f.radio_button :preference, :allow_create_artists, value: => "false" %>
  <br>
  <%= f.label :allow_create_songs %>
  <%= f.radio_button :preference, :allow_create_songs, value: => "true" %>
  <%= f.radio_button :preference, :allow_create_songs, value: => "false" %>
  <br>
  <%= f.submit %>
<%end%>
